
/* common */
.hide {display: none;}
.blind {
    position:absolute;
    left:-9999px;
}
.clear:after {
    content:"";
    display:block;
    clear:both;
}
.pc {display:none;}
.mobile {}

.btn {
    display:inline-block;
    width:140px;
    height:42px;
    line-height:42px;
    font-size:1.1rem;
    font-weight:500;
    letter-spacing:0.1em;
    color:#10c9c3;
    border:1px solid #10c9c3;
    background:linear-gradient(to right, #10c9c3 50%, white 50%);
    background-size:200% 100%;
    background-position:right bottom;
    transition:all .3s;
}
.btn:hover,
.btn:focus {
    color:#fff;
    background-position:left bottom;
}

/* header - mobile */

#wrap {}
header {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:75px;
    z-index:90;
}
.headerInner {
    position:relative;
    width:89.333%;
    margin:0 auto;
}
.logo {
    float:left;
    padding-top:26px;
    width:84px;
}
.logo img {
    width:100%;
}
.btn_nav {
    position:absolute;
    top:24px;
    right:0;
    width:30px;
    height:27px;
}
.btn_nav span {
    display:block;
    width:30px;
    height:3px;
    background-color:#10c9c3;
    text-indent:-9999px;
    overflow:hidden;
    z-index:100;
    transition:.3s;
}
.btn_nav span:nth-child(2) {
    margin:8px 0;    
}

header.fixed {
    height:70px;
    background-color:#fff;
    box-shadow:0 5px 10px rgba(0,0,0,5%);
}
header.fixed .logo {
    padding-top:23px;
}
header.fixed .btn_nav {
    top:22px;
}
header.fixed .btn_nav span {
    background-color:#10c9c3;
}
header.fixed .btn_nav.on span {
    background-color:#fff;
}

.btn_nav.on span {
    width:32px;
    position:absolute;
    right:0;
    background-color:#fff;
}
.btn_nav.on span:nth-child(1) {
    transform:rotate(315deg);
}
.btn_nav.on span:nth-child(3) {
    transform:rotate(-315deg);
}
.btn_nav.on span:nth-child(2) {
    margin:0;
    transform:rotate(360deg);
    opacity:0;
}

#navWrap {
    display:none;
    position:fixed;
    left:0;
    top:0; 
    width:100%;
    height:100%;
}
#navWrap.active {
    display:block;
}
.gnb {
    position:absolute;
    right:0;
    top:0;
    width:34.667%;
    height:100%;
    background-color:rgba(0,0,0,.8);
    padding-top:150px;
}
.gnb li {
    text-align:center;
    margin-bottom:50px;
}
.gnb li a {
    font-weight:700;
    font-size:1.5rem;
    color:#fff;
}
.gnb li a:hover, 
.gnb li a:focus {
    color:#10c9c3;
}


/* visual - mobile */

#visual {
    background-color:#f5f5f5;
}
.visualInner {
    position:relative;
    height:625px;
    padding-top:75px;
}
#visual .img_wrap {}
#visual .img_wrap > span:before {
    position:absolute;
    top:310px;
    left:0;
    content:"";
    width:100%;
    height:261px;
    background:url(../img/img_visual.png) no-repeat center/contain;
}
#visual .img_wrap > span {
    display:block;
    width:100%;
    height:255px;
    margin-top:225px;
    background:url(../img/figure_left.svg) no-repeat center/contain;
}
#visual .text_wrap {
    position:absolute;
    top:151px;
    left:50%;
    width:75%;
    transform:translateX(-50%);
    text-align:center;
}
#visual .text_wrap i {
    font-size:1.7rem;
    color:#10c9c3;
}
#visual .text_wrap h2 {
    font-size:3rem;
    line-height:36px;
    margin-top:3px;
    margin-bottom:22px;
}
#visual .text_wrap h2 span {
    display:block;
    font-size:2.4rem;
    font-weight:600;
    color:#787878;
}



/* mainContents - mobile */

#mainContents {}
#about {}
.aboutInner {
    width:84%;
    margin:0 auto;
    padding:80px 0;
    text-align:center;
}
.aboutInner h2 {
    font-size:2rem;
}
.aboutInner p {
    font-size:1.3em;
    font-family:'Noto Sans KR','돋움',dotum,sans-serif;
    letter-spacing:0;
    color:#787878;
    margin-top:23px;
    line-height:1.577;
}

#skills {}
.skillsInner {}
.skillsInner .skills_right{
    display:block;
    width:100%;
    height:294px;
    background:url(../img/img_skills.png) no-repeat center/contain;
    text-indent:-9999px;
    overflow:hidden;
}
.skills_left {
    padding:100px 0;
    background-color:#f5f5f5;
}
.skills_left h2 {
    font-size:2rem;
    text-align:center;
}
.skills_bar {
    width:66.667%;
    margin:0 auto;
}
.skills_bar li {
    margin-top:40px;
    font-weight:700;
    letter-spacing:0.1em;
}
.skills_bar .bar {
    width:100%;
    height:3px;
    background-color:#d8d8d8;
    margin-top:20px;
}
.skills_bar .bar:after {
    content:"";
    display:block;
    width:85.6%;
    height:100%;
    background-color:#10c9c3;
}
.skills_bar .b2:after {
    width:78%;
}

/* animation mobile */

@keyframes bar {
    0%, 20% {width:0;}
}
.skills_bar.ani .bar:after {
    animation:bar 1s ease-out backwards;
}

/* works - mobile */
.worksInner {
    width:84%;
    margin:0 auto;
    padding:100px 0;
}
.worksInner h2 {
    margin-bottom:55px;
    font-size:2rem;
    text-align:center;
}
.worksInner ul {}
.worksInner li {
    position:relative;
    width:100%;
    height:220px;
    margin-bottom:40px;
    overflow:hidden;
}
.worksInner a {}
.worksInner img {
    width:100%;
    height:100%;
    object-fit:cover;
    object-position:center;
}

.worksInner .text_wrap {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    color:#fff;
    text-align:center;
    padding-top:76px;
    background-color:rgba(0,0,0,.6);
}
.worksInner .text_wrap i {
    font-size:1.2rem;
    font-weight:500;
}
.worksInner .text_wrap i:after {
    content:"";
    display:block;
    width:20px;
    height:1px;
    background-color:#10c9c3;
    margin:8px auto;
}
.worksInner .text_wrap h3 {
    font-size:1.8rem;
    margin:6px 0;
}
.worksInner .text_wrap em {
    font-size:1.7rem;
    font-weight:500;
}
.worksInner .view_layer img {
    object-position:bottom;
}

.worksInner .prepare {
    background-image:none;
    background-color:#10c9c3;
}
.worksInner .prepare a {
    display:block;
    font-size:1.6rem;
    color:#fff;
    font-family:'Noto Sans KR','돋움',dotum,sans-serif;
    font-weight:700;
    text-align:center;
    cursor:default;
}
.worksInner .prepare img {
    width:25px;
    margin:80px 50% 15px;
    transform:translateX(-50%);
}
.worksInner li:nth-child(3) ~ li {display:none;}
.worksInner.active li:nth-child(3) ~ li {
    display:block;
}

.worksInner .btn_wrap {
    text-align:center;
}
.worksInner .btn_more {
    margin-top:10px;
}

/* contact -mobile */
#contact {
    background-color:#f5f5f5;
}
.contactInner {
    width:84%;
    margin:0 auto;
    padding:100px 0;
}
.contactInner h2 {
    font-size:2rem;
    text-align:center;
    margin-bottom:20px;
}
.contactInner p {
    font-size:1.2rem;
    text-align:center;
    margin-bottom:40px;
    line-height:1.577;
    color:#787878;
}
.contactInner p span {
    display:block;
}

.contact_form input:focus::placeholder,
.contact_form textarea:focus::placeholder {opacity:0;}
.contact_form input:blur::placeholder,
.contact_form textarea:blur::placeholder {opacity:1;}

.contactInner .contact_form input[type="text"] {
    margin-right:15px;
}
.contactInner .contact_form input {
    width:calc(50% - 7.6px);
    height:40px;
    padding-left:15px;
    border:none;
    color:#787878;
    font-family:inherit;
    font-size:1.2rem;
    letter-spacing:0.01em;
} 
.contactInner .contact_form textarea {
    width:100%;
    height:150px;
    padding:15px;
    margin-top:15px;
    border:none;
    color:#787878;
    font-family:inherit;
    font-size:1.2rem;
    letter-spacing:0.01em;
}
.contactInner .btn_wrap {
    text-align:center;
}
.contactInner .btn_submit {
    margin-top:60px
}

/* footer -mobile */
footer {
    background-color:#141414;
}
.footerInner {
    width:84%;
    height:120px;
    margin:0 auto;
}
.footerInner .copy {
    float:right;
    margin-top:30px;
    text-align:right;
    color:#fff;
    font-size:1.2rem;
}
.footerInner .copy span {
    display:inline-block;
    width:84px;
    margin-bottom:10px;
}
.footerInner .copy img {
    width:100%;
}
.footerInner .copy em a {
    display:block;
    margin-bottom:8px;
    color:#fff;
}
.footerInner .copy cite {
    color:#707070;
}


/* view_layer - mobile */

.view_layer {
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,.6);
    z-index:120;
}
.view_layer .layerInner {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:90%;
    background-color:#fff;
    border-radius:6px;
    overflow:hidden;
}
.view_layer .view_contents {
    width:96%;
    height:86%;
    margin:50px auto;
    overflow-y:auto;
}
.view_layer .img_wrap {
    width:100%;
    height:250px;
    background-color:#fff;
    overflow:hidden;
}
.view_layer .img_wrap img {
    width:300px;
    margin-left:50%;
    margin-top:20px;
    transform:translateX(-50%);
}
.view_layer .text_wrap {
    width:100%;
    padding:30px 8% 0;
}
.view_layer .text_wrap h3 {
    font-size:2rem;
    font-weight:500;
    margin-bottom:5px;
}
.view_layer .text_wrap i {
    font-size:1.5rem;
    font-weight:600;
    letter-spacing:0;
    color:#666;
}
.view_layer .text_wrap p {
    margin:10px 0 20px;
    font-family:'Noto Sans KR','돋움',dotum,sans-serif;
    line-height:1.577;
    font-size:1.3rem;
    letter-spacing:0;
    color:#787878;
}
.view_layer .info {
    float:left;
    font-family:'Noto Sans KR','돋움',dotum,sans-serif;
    font-size:1.3rem;
    line-height:1.577;
    padding-bottom:30px;
    margin-right:5px;
}
.view_layer .info > li {
    position:relative;
    color:#171717;
}
.view_layer .info > li span {
    color:#787878;
}

.view_layer .btn_wrap {
    float:right;
}
.view_layer .btn_site {
    text-align:center;
}
.view_layer .btn_wrap > span {
    display:block;
    text-align:center;
    margin-top:5px;
}

.view_layer .btn_close {
    position:absolute;
    top:12px;
    right:2%;
    width:25px;
    height:25px;
    background:url(../img/icon_cancel_off.png) no-repeat center/contain;
    cursor:pointer;
}
.view_layer .btn_close:hover, 
.view_layer .btn_close:focus {
    background:url(../img/icon_cancel_on.png) no-repeat center/contain;
}


body.no-scroll {
    overflow: hidden;
}

/* mobile 500 */
@media all and (min-width:500px){
    .view_layer .layerInner {
        height:95%;
        max-height:740px;
    }
}
/* tablet 768 */
@media all and (min-width:768px){

    html {
        scroll-padding-top:80px;
    }
    /* btn - 768 */

    .btn {
        width:180px;
        height:54px;
        line-height:54px;
        font-size:1.2rem;
    }

    /* header - 768 */

    header {
        height:90px;
    }
    .headerInner {
    }
    .logo {
        padding-top:33px;
        width:84px;
    }
    .btn_nav {
        top:31px;
        width:35px;
        height:28px;
    }
    .btn_nav span {
        width:35px;
        height:4px;
    }

    header.fixed {
        height:80px;
    }
    header.fixed .logo {
        padding-top:28px;
    }

    header.fixed .btn_nav {
        top:26px;
    }

    .btn_nav.on span {
        width:36px;
    }
    

    .gnb {
        width:36.458%;
        padding-top:170px;
    }
    .gnb li {
        margin-bottom:60px;
    }
    .gnb li a {
        font-size:1.6rem;
    }


    /* visual - 768 */

    #visual {}
    .visualInner {
        height:940px;
        padding-top:100px;
    }
    #visual .img_wrap > span:before {
        top:422px;
        height:460px;
    }
    #visual .img_wrap > span {
        height:472px;
        margin-top:310px;
    }
    #visual .text_wrap {
        top:192px;
    }
    #visual .text_wrap i {
        font-size:2.2rem;
    }
    #visual .text_wrap h2 {
        font-size:4.6rem;
        line-height:58px;
    }
    #visual .text_wrap h2 span {
        font-size:3.4rem;
    }


    /* mainContents - 768 */

    .aboutInner {
        padding:100px 0;
    }
    .aboutInner h2 {
        font-size:2.8rem;
    }
    .aboutInner p {
        font-size:1.5em;
        margin-top:30px;
    }
    .skillsInner .skills_right{
        height:535px;
    }
    .skills_left {
        padding:120px 0;
    }
    .skills_left h2 {
        font-size:2.8rem;
    }
    .skills_bar {
        width:65.104%;
    }
    .skills_bar li {
        font-size:1.2rem;
    }


    /* works -768 */
    .worksInner {
        width:82.031%;
        padding:120px 0;
    }
   
    .worksInner h2 {
        margin-bottom:93px;
        font-size:2.8rem;
    }
    .worksInner li {
        height:330px;
        margin-bottom:50px;
    }
    .worksInner .text_wrap {
        opacity:0;
        padding-top:120px;
        transition:.3s ease-out;
    }
    .worksInner .text_wrap i {
        font-size:1.6rem;
    }
    .worksInner .text_wrap i:after {
        width:30px;
        height:2px;
        margin:10px auto;
    }
    .worksInner .text_wrap h3 {
        font-size:2.4rem;
        margin:8px 0;
    }
    .worksInner .text_wrap em {
        font-size:2.2rem;
    }
    .worksInner .text_wrap:hover,
    .worksInner .text_wrap:focus {
        opacity:100;
    }
    .worksInner .prepare {
        background-image:none;
        background-color:#10c9c3;
    }
    .worksInner .prepare a {
        font-size:2rem;
    }
    .worksInner .prepare img {
        width:40px;
        margin-top:125px;
        margin-bottom:20px;
        
    }
   
    /* contact - 768 */
    .contactInner {
        width:630px;
        padding:120px 0;
    }
    .contactInner h2 {
        font-size:2.8rem;
    }
    .contactInner p {
        font-size:1.5rem;
        margin-bottom:50px;
    }
    .contactInner p span {
        display:inline;
    }
    .contactInner .contact_form input[type="text"] {
        margin-right:30px;
    }
    .contactInner .contact_form input {
        width:calc(50% - 15.1px);
        height:48px;
        padding-left:19px;
        font-size:1.4rem;
    } 
    .contactInner .contact_form textarea {
        height:170px;
        padding:19px;
        margin-top:30px;
        font-size:1.4rem;
    }
    .contactInner .btn_submit {
        margin-top:80px
    }

    /* footer -768 */
   
    .footerInner {
        height:160px;
    }
    .footerInner .copy {
        margin-top:44px;
        font-size:1.4rem;
    }
    .footerInner .copy span {
        width:84px;
    }
    .footerInner .copy em a {
        margin-bottom:10px;
    }
    

    /* view_layer - 768 */
    .view_layer .layerInner {
        max-height:1000px;
    }
    .view_layer .view_contents {
        height:84%;
        margin-top:70px;
        overflow-y:auto;
    }
    .view_layer .img_wrap {
        height:450px;
    }
    .view_layer .img_wrap img {
        width:600px;
        margin-top:30px;
    }
    .view_layer .text_wrap {
        padding-top:70px;
    }
    .view_layer .text_wrap h3 {
        font-size:3rem;
        margin-bottom:8px;
    }
    .view_layer .text_wrap i {
        font-size:2rem;
    }
    .view_layer .text_wrap p {
        margin:18px 0 23px;
        font-size:1.6rem;
    }
    .view_layer .info {
        font-size:1.6rem;
        padding-bottom:70px;
    }
   
    .view_layer .color {
        left:52px;
    }
    .view_layer .color > li {
        width:21px;
        height:21px;
        margin-right:8px;
    }
   
    .view_layer .btn_close {
        top:20px;
        width:30px;
        height:30px;
    }

}



@media all and (min-width:1024px){

    .pc {display:block;}
    .mobile {display:none;}

    html {
        scroll-padding-top:90px;
    }

    /* header - 1024 */
    header {
        height:100px;
    }
    .headerInner {
        width:88.281%;
    }
    .logo {
        width:96px;
        padding-top:35px;
    }
    
    header.fixed {
        height:90px;
    }
    header.fixed .logo {
        padding-top:31px;
    }
    header.fixed .gnb {
        top:38px;
    }
    
    #navWrap {
        display:block;
        position:static;
        width:auto;
        height:auto;
    }
    .gnb {
        top:43px;
        width:auto;
        height:auto;
        padding-top:0px;
        background-color:transparent;
    }
    .gnb li {
        display:inline;
        margin-bottom:0;
        margin-left:56px;
    }
    .gnb li a {
        font-size:1.4rem;
        color:#191919;
    }


    /* visual - 1024 */

    #visual {
        overflow:hidden;
    }
    .visualInner {
        max-width:904px;
        height:705px;
        margin:0 auto;
    }
    
    #visual .img_wrap > span:before {
        top:170px;
        left:-30px;
        width:456px;
        height:470px;
    }
    #visual .img_wrap > span {
        width:490px;
        height:482px;
        margin-top:57px;
        margin-left:-60px;
    }
  
    #visual .text_wrap {
        float:right;
        position:static;
        transform:translateX(0);
        width:auto;
        margin-top:-342px;
        margin-right:3.613%;
        text-align:left;
    }
    #visual .text_wrap:before {
        content:"";
        display:block;
        position:absolute;
        top:-34px;
        left:-37px;
        width:62px;
        height:15px;
        background:url(../img/figure_1.svg) no-repeat center/contain;
        transform:rotate(180deg);
    }
    #visual .text_wrap:after{
        content:"";
        display:block;
        position:absolute;
        top:-42px;
        right:-213px;
        width:206px;
        height:169px;
        background:url(../img/figure_2.svg) no-repeat center/contain;
    }
    #visual .text_wrap i {
        font-size:2.5rem;
    }
    #visual .text_wrap h2 {
        font-size:5rem;
        line-height:58px;
    }
    #visual .text_wrap h2 span {
        font-size:3.8rem;
    }
    #visual .text_wrap .btn_view {
        text-align:center;
    }

    /* mainContents - 1024 */
    #about {
        position:relative;
    }
    .aboutInner {
        width:55.664%;
    }
    .aboutInner:before{
        content:"";
        display:block;
        position:absolute;
        top:92px;
        left:8.007%;
        width:61px;
        height:13px;
        background:url(../img/figure_3.svg) no-repeat center/contain;
        transform:rotate(-45deg);
    }
    .aboutInner:after{
        content:"";
        display:block;
        position:absolute;
        top:232px;
        right:6.25%;
        width:61px;
        height:13px;
        background:url(../img/figure_3.svg) no-repeat center/contain;
        transform:rotate(45deg);
    }
    .aboutInner h2 {
        font-size:2.9rem;
    }
    .aboutInner p {
        font-size:1.6em;
    }

    #skills {
        position:relative;
        background:linear-gradient(to right, #f5f5f5 50%, white 50%);
    }
    .skillsInner {
        width:88.281%;
        margin:0 auto;
        
    }
    .skillsInner .skills_right{
        position:absolute;
        top:0;
        right:0;
        width:50%;
        height:570px;
    }
    .skills_left {
        width:50%;
        height:570px;
        padding-top:130px;
    }
    .skills_left h2 {
        font-size:2.9rem;
        text-align:left;
    }
    .skills_bar {
        width:90%;
        margin:0;
    }

    
    /* works - 1024 */
    .worksInner {
        width:88.281%;
        padding:150px 0;
    }
    .worksInner h2 {
        margin-bottom:100px;
        font-size:2.9rem;
    }
    .worksInner li {
        float:left;
        width:calc((100% - 40px)/3);
        height:285px;
        margin-bottom:20px;
        margin-right:20px;
    }
    .worksInner li:nth-child(3n) {
        margin-right:0;
    }
    .worksInner .text_wrap {
        padding-top:103px;
    }
    .worksInner .text_wrap i {
        font-size:1.4rem;
    }
    .worksInner .text_wrap i:after {
        width:27px;
    }
    .worksInner .text_wrap h3 {
        font-size:1.9rem;
    }
    .worksInner .text_wrap em {
        font-size:1.7rem;
    }
    .worksInner .prepare a {
        font-size:1.9rem;
    }
    .worksInner .prepare img {
        margin-top:103px;
        margin-bottom:15px;
    }
    .worksInner .btn_more {
        margin-top:46px;
    }
   
    
    /* contact - 1024 */
    .contactInner {
        width:670px;
        padding:150px 0;
    }
    .contactInner h2 {
        font-size:2.9rem;
    }
    .contactInner p {
        font-size:1.6rem;
        margin-bottom:30px;
    }
   
    .contactInner .contact_form input {
        height:48px;
        font-size:1.5rem;
    } 
    .contactInner .contact_form textarea {
        height:200px;
        padding:19px;
        margin-top:30px;
        font-size:1.5rem;
    }
   

    /* footer - 1024 */
   
    .footerInner {
        width:88.281%;
        height:180px;
    }
    .footerInner .copy {
        margin-top:50px;
        font-size:1.5rem;
    }
    .footerInner .copy span {
        width:96px;
        margin-bottom:16px;
    }
   
    
    /* view_layer - 1024 */
    .view_layer .layerInner {
        width:89.43%;
        max-height:885px;
    }
    .view_layer .view_contents {
        position:relative;
        width:96%;
        height:86%;
    }
    .view_layer .img_wrap {
        width:65.6%;
    }
    .view_layer .img_wrap img {
        width:580px;
    }
    .view_layer .text_wrap {
        position:absolute;
        top:0;
        right:0;
        width:34.4%;
        padding:50px 2.6% 0;
    }
    .view_layer .text_wrap h3 {
        font-size:2.9rem;
    }
    
    .view_layer .text_wrap p {
        margin:23px 0 33px;
    }
    .view_layer .info {
        float:none;
        font-size:1.6rem;
        padding-bottom:33px;
    }
   
    .view_layer .btn_wrap {
        float:none;
    }
    .view_layer .btn_wrap > span {
        text-align:left;
        margin-top:10px;
    }
    .view_layer .btn_close {
        width:35px;
        height:35px;
    }
  
}


@media all and (min-width:1230px){


    /* header - 1230 */
   
    .headerInner {
        max-width:1170px;
        width:95.121%;
    }
    .gnb li {
        margin-left:66px;
    }


    /* visual - 1230 */
    .visualInner {
        max-width:1170px;
    }
    #visual .img_wrap > span:before {
        left:30px;
    }
    #visual .img_wrap > span {
        margin-left:0;
    }

    #visual .text_wrap {
        margin-right:16.26%;
    }
    #visual .text_wrap:after{
        right:-100%;
    }

    /* mainContents - 1230 */
   
    .aboutInner:before{
        left:4.878%;
    }
    .aboutInner:after{
        right:4.878%;
    }
    .aboutInner h2 {
        font-size:3rem;
    }

    .skillsInner {
        width:95.121%;
        max-width:1170px;
    }
   
    .skills_left h2 {
        font-size:3rem;
    }

  

    /* works - 1230 */
    .worksInner {
        width:95.121%;
        max-width:1170px;
    }
    .worksInner h2 {
        margin-bottom:100px;
        font-size:3rem;
    }
  
    .worksInner li {
        width:calc((100% - 60px)/3);
        height:370px;
        margin-bottom:30px;
        margin-right:30px;
    }
    .worksInner .text_wrap {
        padding-top:135px;
    }
    .worksInner .text_wrap i {
        font-size:1.8rem;
    }
    .worksInner .text_wrap i:after {
        width:35px;
        margin:10px auto;
    }
    .worksInner .text_wrap h3 {
        font-size:2.4rem;
        margin:12px 0;
    }
    .worksInner .text_wrap em {
        font-size:2.2rem;
    }

    .worksInner .prepare a {
        font-size:2.4rem;
    }
    .worksInner .prepare img {
        width:50px;
        margin-top:133px;
    }
    .worksInner .btn_more {
        margin-top:18px;
    }
   
    
    /* contact - 1230 */
    .contactInner {
        width:670px;
    }
    .contactInner h2 {
        font-size:3rem;
    }
   
   

    /* footer - 1230 */
   
    .footerInner {
        width:95.121%;
        max-width:1170px;
    }
   
    

    /* view_layer - 1230 */
   
    .view_layer .img_wrap {
        width:65%;
    }
    .view_layer .img_wrap img {
        width:650px;
        margin-top:0;
    }
    .view_layer .text_wrap {
    }
    .view_layer .text_wrap h3 {
        font-size:3rem;
    }

   
  
}

